[network]
IP Address              = 222.122.147.22
Service Port            = 30001
Max Receive Packet Size = 921600
Max Send Packet Size    = 921600
Timeout Second          = 0

[config]
Game Code               = 1014

[logger]
log4j.appender.file.File=C:/NMNCAFE.log

log4j.rootCategory=info, file
log4j.appender.file=org.apache.log4j.DailyRollingFileAppender
log4j.appender.file.Append=true
log4j.appender.file.DatePattern='.'yyyy-MM-dd
log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.ConversionPattern=%5p[%t][%d] %m%n

